GOOGLE_SHEET_ID=
GOOGLE_APPLICATION_CREDENTIALS=./credentials/google-service-account.json
USERS_CONFIG_PATH=./config/users.json
VIDEO_ROOT=../videos
TIKTOK_UPLOAD_URL=https://www.tiktok.com/tiktokstudio/upload?from=creator_center&tab=video
UPLOAD_LIMIT_PER_RUN=3
HEADLESS=false
DRY_RUN=true
